<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mentor rating</title>
</head>

<body>
    <span class="name"><%=data.name%></span>
    <span class="stack"><%=data.stack%></span>
    <span class="theClass"><%=data.class%></span>
    <span class="expl"><%=data.explanation%></span>
    <span class="know"><%=data.knowledge%></span>
    <span class="help"><%=data.helpfulness%></span>
    <button onclick="location.href = 'http://localhost:3000'"> back</button>
    <button>Rate</button>
    <script src="mentor_rating.js"></script>
</body>

</html>